.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 380px;
  gap: 30px;
  font-family: Poppins !important;
  justify-content: space-around;
}


.column {
  width: 25%;
  transition: width 0.45s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  background: #fafafa;

}

.title,
.innerElement h3 {
  font-family: Urbanist;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0
}

.innerElement .flexDiv {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.content,
.innerElement p {
  font-family: Urbanist;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  margin: 0
}

@media screen and (min-width: 1025px) {
  .expanded {
    width: 150% !important;
  }
}

/* Styling for rotated text in collapsed tabs */
.collapsedTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
  color: #6f6f6fe0;
  font-size: 28px;
  text-align: center;
  z-index: 0;
}

/* Hide rotated title when expanded */
.expanded .collapsedTitle {
  display: none;
}

.expanded .flexContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 32px;
  padding: 8px 25px;
}

.expanded .ParentFlex {
  display: flex;
  justify-content: space-between;
}

.innerElement {
  opacity: 0;
  transition: opacity 0s;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out, visibility 0s linear 0.4s;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.expanded {
  background: #F4F5F0;
  background-size: cover;
  background-position: center;
}

.expanded .innerElement {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  /* Adjust based on your content */
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
}


.innerElement .arrowImg {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  position: relative;
  left: auto;
  top: auto;
  width: 56px;
  height: 32px;
  flex-shrink: 0;
  margin: 0px;
}

.innerElement.active {
  opacity: 1;
  transition: opacity 0.5s 0.4s;
  display: flex;
}

.expanded .flexContainer div {
  width: 49%;
}


@media (max-width: 1024px) {
  .expanded {
    min-height: 400px !important;
  }

  .main {
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 20px;
  }

  .collapsedTitle {
    transform: translate(-50%, -50%) rotate(0deg);
    font-size: 18px;
  }

  .column {
    width: 100%;
    transition: height 0.55s ease;
    height: 60px;
  }

  .expanded .flexContainer {
    gap: 6px;
    padding: 8px 10px;
  }

  .expanded .flexContainer div {
    width: 100%;
  }
}
@media(max-width:765px){
  .expanded .flexContainer {
    flex-direction: column-reverse;
    width: 100%;
  }
  .expanded .flexContainer .mainImg {
    width: 100px;
  }
  .expanded .flexContainer div {
    width: 100%;
    text-align: center;
  }
}