.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 320px;
  gap: 30px;
  font-family: Urbanist !important;
  justify-content: space-around;
}


.column {
  width: 20%;
  transition: width 0.45s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 28px;
  background: #F8F8F8;

}

.title,
.innerElement h3 {
  font-family: Urbanist;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0
}

.flexDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content,
.innerElement p {
  font-family: Urbanist;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  margin: 0
}

@media screen and (min-width: 1025px) {
  .expanded {
    width: 150% !important;
  }
  .collapsedTitle {
    bottom: 30%;
    left: 50%;
  }
  .expanded .flexContainer div {
    width: 49%;
  }
}

/* Styling for rotated text in collapsed tabs */
.collapsedTitle {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
  color: #595959;
  font-size: 28px;
  text-align: left;
  z-index: 0;
  line-height: 100%;
  font-family: Urbanist;
}

/* Hide rotated title when expanded */
.expanded .collapsedTitle {
  display: none;
}

.expanded .flexContainer {
  display: flex;
  align-items: center;
}


.innerElement {
  opacity: 0;
  transition: opacity 0s;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out, visibility 0s linear 0.4s;
  padding: 40px 80px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.expanded {
  background: #F4F5F0;
  border-radius: 56px;
  background-size: cover;
  background-position: center;
}

.expanded .innerElement {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  /* Adjust based on your content */
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
}


.innerElement .arrowImg {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  position: relative;
  left: auto;
  top: auto;
  width: 56px;
  height: 32px;
  flex-shrink: 0;
  margin: 0px;
}

.innerElement.active {
  opacity: 1;
  transition: opacity 0.5s 0.4s;
  display: flex;
}

.expanded .innerElement .flexContainer .mainImg {
  display: block;
  margin-left: auto;
}

@media (max-width: 1024px) {
  .expanded {
    min-height: 208px !important;
    height: max-content !important;
  }

  .content,
.innerElement p {
  font-size: 14px;
}
.title,
.innerElement h3{
  font-size: 24px;
}
  .expanded .innerElement{
    height: 100%;
    max-height: 100%;
  }
  .collapsedTitle {
    left: 14%;
    top: 50%;
  }
  .innerElement {
    padding: 32px;
  }
  .expanded .innerElement .flexContainer .mainImg {
    width: 100%;
  }

  .main {
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 20px;
  }

  .collapsedTitle {
    transform: translate(-50%, -50%) rotate(0deg);
    font-size: 24px;
    font-family: Urbanist;
  }

  .column {
    width: 100%;
    transition: height 0.55s ease;
    height: 93px;
    border-radius: 16px;
  }
  .expanded .column{
    height: max-content !important;
  }
  .expanded .imgDiv{
    width:208px;
  }

  .expanded .flexContainer .flexDiv {
    width: 100%;
  }
  .expanded .flexContainer{
    gap: 10px;
  }
  .expanded {
    border-radius: 32px;
  }
}
@media(max-width:765px){
  .expanded .flexContainer {
    flex-direction: column-reverse;
    width: 100%;
  }
  
  .expanded .imgDiv{
    width:104px !important;
    margin: auto !important;
  }
  .collapsedTitle {
    left: 50%;
    top: 50%;
  }
  .expanded .imgDiv .mainImg{
    margin: auto !important;
  }
  .expanded .flexContainer .mainImg {
    width: 100px;
  }
  .expanded .flexContainer div {
    width: 100%;
    text-align: center;
  }
  .innerElement {
    padding: 24px;
  }
  .column {
    height: 77px;
  }
}