/* Proxima Nova Regular */
@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova/302D42_4_0.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Proxima Nova Bold Italic */
@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova/302D42_5_0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
